.profile {
  width: 300px;
  text-align: center;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 7px 14px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 7px 14px 0px rgba(0, 0, 0, 0.4);
}

.profileImg {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
