* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  background: linear-gradient(rgb(218, 173, 230), rgb(231, 220, 163));
}
.title {
  padding: 10px;
  width: 25rem;
  margin: 30px auto 15px auto;
  background-color: rgb(238, 218, 243);
  font-size: 40px;
  font-family: "Jua", sans-serif;
  border-radius: 10px;
}
.memoList {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -38%);
}
h2 {
  font-family: "Jua", sans-serif;
  font-weight: normal;
  display: inline;
}

.memoBox {
  position: relative;
  display: block;
}
.memoAdd {
  margin-top: 10px;
}
input {
  border: 4px solid rgb(169, 133, 187);
  border-radius: 10px;
  height: 3rem;
  width: 20rem;
  margin: auto;
  font-size: 20px;
  padding: 10px;
  font-family: "Jua", sans-serif;
}
button {
  height: 3rem;
  width: 7rem;
  background-color: rgb(216, 193, 221);
  border: 4px solid rgb(200, 169, 215);
  border-radius: 10px;
  margin-left: 5px;
  font-size: 20px;
  font-family: "Jua", sans-serif;
  cursor: pointer;
}
button:active {
  background-color: rgb(201, 165, 212);
}
