* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("gameImg/Background.png");
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
.explain {
  margin: 50px auto;
  padding: 20px;
  font-size: 30px;
  font-family: "Gamja Flower", cursive;
  background-color: rgba(27, 64, 119, 0.366);
  border-radius: 10px;
  width: 70vw;
}
#gameInfoZone {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(27, 64, 119, 0.366);
  padding: 5px;
  border-radius: 10px;
  width: 50vw;
}

.startBtn {
  font-size: 35px;
  border: 6px solid rgb(56, 131, 200);
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(186, 215, 239);
  margin: 10px;
}
.startBtn:hover {
  background-color: rgb(218, 234, 247);
}
.startBtn:active {
  background-color: rgb(161, 199, 232);
}
.timer {
  font-size: 20px;
  font-weight: bolder;
  margin: 0 auto 10px auto;
  padding: 5px 10px;
  width: 100px;
  border: 5px solid rgb(50, 82, 121);
  border-radius: 10px;
  background-color: rgb(228, 242, 255);
}
.butterflyCount {
  font-size: 25px;
  font-weight: bolder;
  margin: auto;
  padding: 5px;
  width: 50px;
  border: 5px solid rgb(9, 116, 255);
  border-radius: 10px;
  background-color: rgb(150, 201, 255);
  margin-bottom: 10px;
}

#gameZone {
  cursor: url(gameImg/net.png) 40 40, pointer;
  width: 100%;
  height: 100vh;
}

.butterfly {
  position: absolute;
}

.hornet {
  position: absolute;
  z-index: 1;
}

.butterfly:hover,
.hornet:hover {
  transform: scale(1.1);
}
