* {
  box-sizing: border-box;
  /* padding이나 border S도 width나 height에 포함될 수 있게 하기 위함 */
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* 이때 overflow-y:auto 이렇게 하면 요소안에 아이템이 늘어났을 떄 알아서 스크롤바가 생김 */
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  background: linear-gradient(rgb(218, 173, 230), rgb(231, 220, 163));
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  padding: 10px;
  width: 25rem;
  margin: 30px auto 15px auto;
  background-color: rgb(238, 218, 243);
  font-size: 40px;
  font-family: "Jua", sans-serif;
  border-radius: 10px;
  /* 만약 특정 모서리만 둥글게 하고싶으면 숫자를 4개로 4방향 각각 지정해줘도 됨 */
}
.memoList {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -38%);
}
h2 {
  font-family: "Jua", sans-serif;
  font-weight: normal;
  display: inline;
}

.memoBox {
  position: relative;
  display: block;
}
.memoAdd {
  margin-top: 10px;
}
input {
  border: 4px solid rgb(169, 133, 187);
  border-radius: 10px;
  height: 3rem;
  width: 20rem;
  margin: auto;
  font-size: 20px;
  padding: 10px;
  font-family: "Jua", sans-serif;
}
button {
  height: 3rem;
  width: 7rem;
  background-color: rgb(216, 193, 221);
  border: 4px solid rgb(200, 169, 215);
  border-radius: 10px;
  margin-left: 5px;
  font-size: 20px;
  font-family: "Jua", sans-serif;
  cursor: pointer;
}
button:active {
  background-color: rgb(201, 165, 212);
}
